<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/homeAdmin.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/addUserAdmin.css")">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    </head>
    <body>
        <div class="header">
        @headerSignup()
        </div>

        <div id="mainContent">
            <div id="adminSearch">
                <div class="row" id="adminContainer">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="adminMenu">
                        <a class="menuItem" href="@routes.HomeController.admin()">Dashboard</a>
                        <a class="menuItem" href="@routes.HomeController.restaurantsAdmin()">Restaurants</a>
                        <a class="menuItem" href="@routes.HomeController.locationsAdmin()">Locations</a>
                        <a class="menuItem" href="@routes.HomeController.categoriesAdmin()">Categories</a>
                        <a class="menuItem" href="@routes.HomeController.usersAdmin()">Users</a>
                    </div>
                </div>
            </div>


            <div id="userDataContainer">
                <p id="popUp" class="successful" style="display: none;"> Category successfully created! </p>
                <p id="popUp" class="taken" style="display: none;"> Category already exists!!! </p>
                <div class="row">
                    <div class='col-md-12'>
                        <input id="name" type="text" placeholder="Category name" class="prvi" required>
                    </div>
                </div>
                <div id="errorMessageName" class="errorMessage"></div>
                <div class="row">
                    <div class='col-md-6 col-sm-12'>
                        <input id="cancelRegister" type="submit" value="Cancel" class="cetvrti" onClick="javascript:history.go(-1)">
                    </div>
                    <div class='col-md-6 col-sm-12'>
                        <input id="submitRegister" type="submit" value="Add Category" class="treci" onclick="validation()">
                    </div>
                </div>
            </div>
        </div>
        @footer()

        <script>
            function validation(){
                var testName = false;
                var errorName = $('#errorMessageName');
                var name = $('#name').val();
                if(testName) errorName.text("");

                if(name!=""){
                    var name = $("#name").val();
                    var uppercase1 = name.charAt(0).toUpperCase();
                    var uppercase2 = name.charAt(0);
                    if(uppercase2 == uppercase1){
                        errorName.text("");
                        save();
                    }
                    else errorName.text("Name has to begin with a capital letter!");
                }
                else{
                    errorName.text("Name is required!");
                }
            }
        </script>

        <script>
            function save(){
                var name = $("#name").val();
                console.log(name);
                $.ajax({
                    //url: 'https://abh-restaurants-backend.herokuapp.com/cousines/save',
                    url: 'https://localhost:8080/cousines/save',
                    //url: 'http://localhost:8080/cousines/save',
                    type: 'get',
                    dataType: 'json',
                    data: jQuery.param({
                        name: name
                    }),
                    complete: function (response) {
                        if(response.status != 200){
                            $( ".taken" ).show();
                            setTimeout(function() {
                                $( ".taken" ).hide();
                            }, 2000);
                        }
                        else{
                            $("#name").val("");
                            $( ".successful" ).show();
                            setTimeout(function() {
                                $( ".successful" ).hide();
                            }, 2000);
                            $(this).delay(2500).queue(function() {
                                $(this).dequeue();
                            });
                        }
                    }
                });
            }
        </script>

        <script>
        $('document').ready(function(){
            document.getElementById("orangeLink").innerText = "Admin";
        });
    </script>
    </body>
</html>