@(restaurantName: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/homeAdmin.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/addRestaurantAdmin.css")">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    </head>
    <body>
        <div class="header">
        @headerSignup()
        </div>

        <div id="mainContent">
            <div id="adminSearch">
                <div class="row" id="adminContainer">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="adminMenu">
                        <a class="menuItem" href="@routes.HomeController.admin()">Dashboard</a>
                        <a class="menuItem" href="@routes.HomeController.restaurantsAdmin()">Restaurants</a>
                        <a class="menuItem" href="@routes.HomeController.locationsAdmin()">Locations</a>
                        <a class="menuItem" href="@routes.HomeController.categoriesAdmin()">Categories</a>
                        <a class="menuItem" href="@routes.HomeController.usersAdmin()">Users</a>
                    </div>
                </div>
            </div>

            <div id="miniToolbar" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" id="adminMenu">
                    <a class="menuItem link" href="@routes.HomeController.addRestaurantAdmin()">Basic Details</a>
                    <a class="menuItem link" href="#">Menu</a>
                    <a class="menuItem link" href="#">Gallery</a>
                    <a class="menuItem link" onclick="changeTab()">Tables</a>
                </div>
            </div>
            <div id="userDataContainer" class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" id="leftSide">
                    <p id="popUp" class="error" style="display: none;"> All fields must be entered! </p>
                    <p id="popUp" class="taken" style="display: none;"> This restaurant already exists! </p>
                    <p id="popUp" class="successful" style="display: none;"> Restaurant successfully added! </p>
                    <p id="titleSide">Add Logo</p>

                    <image id="logo" src="" class='img img-responsive img-thumbnail' onclick='return OpenFileBrowserLogo(event)' alt="" style="cursor:pointer;"></image>
                    <input type="file" name="PicturePath" id="fileUploadLogo" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="previewFileLogo()" style="display: none"/>
                    <p id="titleSide">Pricing</p>
                    <select id="pricing" class="selectCountry" required>
                        <option>Choose Pricing</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <p id="titleSide">Name</p>
                    <input type="text" id="inputRestaurantName" value="@restaurantName"/>
                    <p id="titleSide">Description</p>
                    <textarea id="descriptionRestaurant"></textarea>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12" id="rightSide">
                    <p id="titleSide">Add Cover Photo</p>
                    <image id="cover" src="" class='img img-responsive img-thumbnail' onclick='return OpenFileBrowserCover(event)' alt="" style="cursor:pointer;"></image>
                    <input type="file" name="PicturePath" id="fileUploadCover" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="previewFileCover()" style="display: none"/>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 col-sm-6'>
                            <p id="titleSide">Category</p>
                            <select id="country" class="selectCountry" required>
                                <option>Choose Category</option>
                            </select>
                        </div>
                        <div class='col-lg-6 col-md-6 col-sm-6'>
                            <p id="titleSide2">Location</p>
                            <select id="city" class="selectCity" required>
                                <option>Choose Location</option>
                            </select>
                        </div>
                    </div>
                    <p id="titleSide" class="removableTitle">Choose Exact Location</p>
                    <div id="googleMap" style="width:80%;height:180px;"></div>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 col-sm-6'>
                            <input id="cancelRegister" type="submit" value="Cancel" class="cetvrti" onClick="javascript:history.go(-1)">
                        </div>
                        <div class='col-lg-6 col-md-6 col-sm-6'>
                            <button type="button" id="submitRegister" class="treci" onclick="validation()">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @footer()

        <script>
            function changeTab(){
                var logoSrc = $("#logo").prop('src');
                var coverSrc = $("#cover").attr('src');
                var pricing = $("#pricing option:selected").val();
                var name = $("#inputRestaurantName").val();
                var description = $("#descriptionRestaurant").val();
                var category = $("#country option:selected").text();
                var location = $("#city option:selected").val();
                var address = window.localStorage.getItem("address")
                if(logoSrc=="" || coverSrc=="" || pricing==undefined || name=="" || description=="" || category=="Choose Category" || location==undefined || address==undefined){
                    $( ".error" ).show();
                    setTimeout(function() {
                        $( ".error" ).hide();
                    }, 2000);
                }
                else {
                    window.localStorage.setItem("logo", logoSrc);
                    window.localStorage.setItem("cover", coverSrc);
                    window.localStorage.setItem("pricing", pricing);
                    window.localStorage.setItem("name", name);
                    window.localStorage.setItem("description", description);
                    window.localStorage.setItem("category", category);
                    window.localStorage.setItem("location", location);
                    window.localStorage.setItem("address", address);
                    window.location.replace("/admin/restaurants/edit/tables");
                }
            }
        </script>

        <script>
            function validation(){
                var logoSrc = $("#logo").prop('src');
                var coverSrc = $("#cover").attr('src');
                var pricing = $("#pricing option:selected").val();
                var name = $("#inputRestaurantName").val();
                var description = $("#descriptionRestaurant").val();
                var category = $("#country option:selected").text();
                var location = $("#city option:selected").val();
                var address = window.localStorage.getItem("address");
                if(logoSrc=="" || coverSrc=="" || pricing==undefined || name=="" || description=="" || category=="Choose Category" || location==undefined || address==undefined){
                    $( ".error" ).show();
                    setTimeout(function() {
                        $( ".error" ).hide();
                    }, 2000);
                }
                else save();
            }
        </script>

        <script>
            function save(){
                var logoSrc = $("#logo").prop('src');
                var coverSrc = $("#cover").attr('src');
                var pricing = $("#pricing option:selected").val();
                var name = $("#inputRestaurantName").val();
                var description = $("#descriptionRestaurant").val();
                var category = $("#country option:selected").text();
                var location = $("#city option:selected").val();
                var address = window.localStorage.getItem("address");
                var lat = window.localStorage.getItem("lat");
                var lng = window.localStorage.getItem("lng");
                var restaurantId = null;
                $.ajax({
                    //url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/edit',
                    url: 'https://localhost:8080/restaurants/edit',
                    //url: 'http://localhost:8080/restaurants/edit',
                    type: 'post',
                    dataType: 'json',
                    data: jQuery.param({
                        pricing: pricing,
                        name: name,
                        description: description,
                        category: category,
                        location: location,
                        address: address
                    }),
                    complete: function (response) {
                        console.log(response["responseJSON"]["id"]);
                        var id = response["responseJSON"]["id"];
                        restaurantId = id;
                        $.ajax({
                            //url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/saveLogo',
                            url: 'https://localhost:8080/restaurants/saveLogo',
                            //url: 'http://localhost:8080/restaurants/saveLogo',
                            type: 'post',
                            dataType: 'json',
                            data: jQuery.param({
                                pictureUrl: logoSrc,
                                id: id
                            }),
                            complete: function (response1) {
                                console.log(response1);
                                var id = response1["responseJSON"]["id"];
                                $.ajax({
                                    //url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/saveCover',
                                    url: 'https://localhost:8080/restaurants/saveCover',
                                    //url: 'http://localhost:8080/restaurants/saveCover',
                                    type: 'post',
                                    dataType: 'json',
                                    data: jQuery.param({
                                        pictureUrl: coverSrc,
                                        id: id
                                    }),
                                    complete: function (response2) {
                                        $.ajax({
                                            //url: 'https://abh-restaurants-backend.herokuapp.com/locations/edit',
                                            url: 'https://localhost:8080/locations/edit',
                                            //url: 'http://localhost:8080/locations/edit',
                                            type: 'post',
                                            dataType: 'json',
                                            data: jQuery.param({
                                                lat: lat,
                                                lng: lng,
                                                id: restaurantId
                                            }),
                                            complete: function (response3) {
                                                if(response3.status != 200){
                                                    console.log("NE VALJA");
                                                    $( ".taken" ).show();
                                                    setTimeout(function() {
                                                        $( ".taken" ).hide();
                                                    }, 2000);
                                                }
                                                else{
                                                    console.log("USPJEEEH");
                                                    $("#name").val("");
                                                    $( ".successful" ).show();
                                                    setTimeout(function() {
                                                        $( ".successful" ).hide();
                                                    }, 2000);
                                                    $(this).delay(2500).queue(function() {
                                                        $(this).dequeue();
                                                    });
                                                }
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                });
            }
        </script>


        <script>
            function geocodeLatLng(geocoder, map, lat, lng) {
                var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
                geocoder.geocode({'location': latlng}, function(results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            map.setZoom(20);
                            var addr = results[0].formatted_address.split(",");
                            window.localStorage.setItem("address", addr[0])
                        } else {
                            window.alert('No results found');
                        }
                    } else {
                        window.alert('Geocoder failed due to: ' + status);
                    }
                });
            }
        </script>

        <script>
            function myMap(city) {
                console.log("city" + city);
                var geocoder = new google.maps.Geocoder();
                var map = null;
                var zoom = 8;
                setTimeout(function(){
                    var address = window.localStorage.getItem("address");
                    console.log("address"+address);
                    if(city!=undefined || address!=undefined) {
                        if(city==undefined){
                            city = address;
                            zoom = 20;
                        }
                        $("#googleMap").show();
                        $(".removableTitle").show();
                        $("#cancelRegister").css("margin-top", "77px");
                        $("#submitRegister").css("margin-top", "77px");

                        if(map==null) {
                            map = new google.maps.Map(document.getElementById('googleMap'), {
                                center: {lat: 0, lng: 0},
                                zoom: zoom
                            });
                        }

                        geocoder.geocode({'address': city}, function (results, status) {
                            if (status === 'OK') {
                                map.setCenter(results[0].geometry.location);
                            } else {
                                alert('Geocode was not successful for the following reason: ' + status);
                            }
                        });
                    }

                    else{
                        $("#googleMap").hide();
                        $(".removableTitle").hide();
                        $("#cancelRegister").css("margin-top", "314px");
                        $("#submitRegister").css("margin-top", "314px");
                    }

                    var marker;
                    google.maps.event.addListener(map, 'click', function(event) {

                        placeMarker(event.latLng);

                    });
                    function placeMarker(location) {
                        if (marker == null)
                        {
                            marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });
                        }
                        else
                        {
                            marker.setPosition(location);
                        }
                        var lat = marker.getPosition().lat();
                        var lng = marker.getPosition().lng();
                        geocodeLatLng(geocoder, map, lat, lng);
                        window.localStorage.setItem("lat", lat);
                        window.localStorage.setItem("lng", lng);
                    }
                }, 1000);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO5q66s3rtQ8W9iVRRbEfFw1rconKrLno&callback=myMap"></script>

        <script>
            function OpenFileBrowserLogo(elem) {
                $('#fileUploadLogo').click();
            }

            function previewFileLogo() {
                var preview = document.getElementById('logo');
                var file    = document.querySelector('input[type=file]').files[0];
                var reader  = new FileReader();

                reader.addEventListener("load", function () {
                    preview.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        </script>


        <script>
            function OpenFileBrowserCover(elem) {
                $('#fileUploadCover').click();
            }

            function previewFileCover() {
                var preview = document.getElementById('cover');
                var file    = document.querySelector('input[type=file]').files[0];
                var reader  = new FileReader();

                reader.addEventListener("load", function () {
                    preview.src = reader.result;
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }
            }
        </script>

        <script>
            function highlightCurrent() {
                const curPage = document.URL;
                const links = document.getElementsByClassName('link');
                for (let link of links) {
                    if (link.href == curPage) {
                        link.classList.add("current");
                    }
                }
            }
        </script>

        <script>
        $("#city").change(function(){
            var cityid = $(this).val();
            var cityName = $( "#city option:selected" ).text();
            myMap(cityName);
        });

        $('document').ready(function(){
            window.localStorage.clear();
            document.getElementById("orangeLink").innerText = "Admin";
            highlightCurrent();

            $.ajax({
                //url: 'https://abh-restaurants-backend.herokuapp.com/cities/all',
                url: 'https://localhost:8080/cities/all',
                //url: 'http://localhost:8080/cities/all',
                type: 'get',
                dataType: 'json',
                success:function(response){

                    var len = response.length;

                    $("#city").empty();
                    for( var i = 0; i<len; i++){
                        var id = response[i]['id'];
                        var name = response[i]['name'];

                        $("#city").append("<option value='"+id+"'>"+name+"</option>");

                    }

                    var city = Number(window.localStorage.getItem("cityId"));
                    if(city != 0) $("#city").val(city);
                }
            });

            $.ajax({
                //url: 'https://abh-restaurants-backend.herokuapp.com/cousines/all',
                url: 'https://localhost:8080/cousines/all',
                //url: 'http://localhost:8080/cousines/all',
                type: 'get',
                dataType: 'json',
                success:function(response){

                    var len = response.length;

                    $("#country").empty();
                    for( var i = 0; i<len; i++){
                        var id = response[i]['id'];
                        var name = response[i]['name'];

                        $("#country").append("<option value='"+id+"'>"+name+"</option>");
                    }

                    var cat = null;
                    if(Number(window.localStorage.getItem("catId"))!=0) cat = Number(window.localStorage.getItem("catId"));
                    console.log("category" + cat);
                    if(cat != null) $("#country").val(cat);
                }
            });

            var name = $("#inputRestaurantName").val();
            $.ajax({
                //url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/get/basicDetails',
                url: 'https://localhost:8080/restaurants/get/basicDetails',
                //url: 'http://localhost:8080/restaurants/get/basicDetails',
                type: 'get',
                dataType: 'json',
                data: jQuery.param({name: name}),
                success:function(response){
                    window.localStorage.setItem("restaurantId", response["id"]);
                    $("#descriptionRestaurant").text(response["description"]);
                    var price = response["pricing"];
                    $("#pricing").val(price);
                    var city = null;
                    if(response["city"]!=null) city = response["city"]["id"];
                    if(city!=null) $("#city").val(city);
                    if(city!=null) window.localStorage.setItem("cityId", response["city"]["id"]);
                    else window.localStorage.setItem("cityId", 0);
                    if(response["address"]!=null) window.localStorage.setItem("address", response["address"]);

                }
            });

            setTimeout(function(){
                var id = Number(window.localStorage.getItem("restaurantId"));
                $.ajax({
                    //url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/get/logo',
                    url: 'https://localhost:8080/restaurants/get/logo',
                    //url: 'http://localhost:8080/restaurants/get/logo',
                    type: 'get',
                    dataType: 'json',
                    data: jQuery.param({id: id}),
                    complete:function(response){
                        var logo = document.getElementById('logo');
                        if(response["responseJSON"]["logoUrl"]==null) logo.src = "";
                        else logo.src = response["responseJSON"]["logoUrl"];
                        var cover = document.getElementById('cover');
                        if(response["responseJSON"]["coverUrl"]==null) cover.src = "";
                        else cover.src= response["responseJSON"]["coverUrl"];
                    }
                });

                $.ajax({
                    //url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/get/cousine',
                    url: 'https://localhost:8080/restaurants/get/cousine',
                    //url: 'http://localhost:8080/restaurants/get/cousine',
                    type: 'get',
                    dataType: 'json',
                    data: jQuery.param({id: id}),
                    success:function(response){
                        var cat = response["id"];
                        //if(cat != null) $("#country").val(cat);
                        if(cat != null) window.localStorage.setItem("catId", response["id"]);
                        else window.localStorage.setItem("catId", 0);
                    }
                });
            }, 1000);
        });
    </script>
    </body>
</html>