footer{
    background-color: #131d24;
    margin-top: 100px;
    height: 150px;
    padding-top: 50px;
}

.firstPart span{
    color: #FFFFFF;
    display: inline;
    padding-right: 20px;
}

.secondPart span{
    color: #FFFFFF;
    display: inline;
    padding-right: 20px;
}

.firstPart{
    display: inline;
}

.secondPart{
    display: inline;
    float: right;
}

#copyright{
    color: #FFFFFF;
    margin-top: 10px;
}

@media only screen and (max-width: 347px){
    footer{
        padding-top: 20px;
    }

    .firstPart{
        display: inline;
    }

    .secondPart{
        margin-left: 20px;
        display: inline;
    }

    #copyright{
        margin-left: 20px;
    }
}
