.menu{
    margin-left: 70%;
    font-family: -apple-system;
}

ul{
    position: relative;
    list-style: none;
    color: white;
    top: 30px;
}

ul li {
    display: inline;
    margin-left: 30px;
}

ul li a{
    color: inherit;
    padding-top: 20px;
    text-decoration: none;
}

@media only screen and (max-width: 347px){
    .menu{
        margin-left: 100px;
        margin-top: 0px;
    }

    ul li .orange{
        margin-left: 120px;
    }
}