.menu{
    margin-left: 70%;
}

ul li .orange{
    color: orangered !important;
}

ul{
    position: relative;
    list-style: none;
    color: #000;
    top: 30px;
}

ul li {
    display: inline;
    margin-left: 30px;
}

ul li a{
    color: inherit;
    padding-top: 20px;
}

@media only screen and (max-width: 347px){
    .menu{
        margin-left: 100px;
        margin-top: 0px;
    }

    ul li .orange{
        color: orangered !important;
        margin-left: 120px;
    }
}

