body {
    margin: 0;
    font-family: Century, AppleGothic;
    font-weight: 400;
    text-align: left;
    background: white;
    line-height: 1.5px;
}

.searchbox{
    background: #FFFFFF;
    border-radius: 3px;
    width: 70%;
    height: 56px;
    opacity: 1;
    margin-left: 16%;
}

.gornji_dio{
    width: 100%;
    height: 680px;
    opacity: 0.9;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/search_photo.jpg);
    /*background: url(../images/search_photo.jpg);*/
    background-size: cover;
}

input{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

input[type="text"]{
    background: #fff;
    border: none;
    outline: none;
    padding: 0 25px;
    padding-left: 60px;
    width: 52%;
    min-width: 300px;
    height: 56px;
    border-radius: 3px 0 0 3px;
    font-size: 18px;
    background-image: url(../images/search_icon.png);
    background-position: 5px 7.5px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

input[type="submit"]{
    position: relative;
    border: none;
    outline: none;
    width: 16%;
    min-width: 105px;
    height: 56px;
    cursor: pointer;
    background: #fd6f60;
    border-radius: 0 3px 3px 0;
    color: white;
    font-size: 18px;
    left: 5px;
}

.prvi{
    padding-top: 232px;
    font-size: 70px;
    font-family: "-apple-system";
    line-height: 60px;
}

.drugi{
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;
    font-family: "-apple-system";
    line-height: 20px;
}

p.prvi,p.drugi{
    left: 50%;
    text-align: center;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#row1{
    margin-left: 100px;
    margin-right: 0px;
    padding-top: 100px;
}

#row2{
    margin-left: 100px;
    margin-right: 0px;
    padding-top: 121px;
}

#specials{
    margin-top: 150px;
    width: 100%;
    height: 584px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/spaghetti.jpg);
    background-size: cover;
}

#popularLocations{
    width: 100%;
    height: 600px;
    background: white;
}

#title1{
    margin-top: 73px;
    color: black;
    font-size: 30px;
    text-align: center;
}

#title2{
    padding-top: 73px;
    color: white;
    font-size: 30px;
    text-align: center;
}

#imgClickAndChange{
    width: 480px;
    height: 360px;
    margin-left: 25%;
}

#leftArrow{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 120px;
}

#rightArrow{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -250px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 10px 25px 10px 10px;
    background: url(../images/arrow_down.png) no-repeat 95% center;
    background-size: 20px 20px;
    background-color: white;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    margin-left: -20px!important;
    width: 100px;
}

#parClickAndChange{
    color: white;
    text-align: center;
    font-size: 18px;
}

.selectDate, .selectTime{

    background-color: white;
    border: none;
    border-radius: 2px;
    /*width: 105px;*/
}

.selectTime{
    width: 75px;
    font-size: 16px;
    margin-left: -15px;
}

.selectDate{
    width: 155px;
    font-size: 15px;
    padding: 10px 25px 10px 10px;
    margin-left: 5px;
}

@media only screen and (max-width: 347px){
    .searchbox{
        background: #FFFFFF;
        border-radius: 3px;
        width: 70%;
        height: 56px;
        opacity: 1;
        margin-left: 7%;
    }

    #row1, #row2{
        margin-left: 10px;
        margin-right: 0px;
        padding-top: 80px;

    }

    select{
        -webkit-appearance: none;
        -moz-appearance: none;

        padding: 10px 25px 10px 10px;
        background: url(../images/arrow_down.png) no-repeat 95% center;
        background-size: 20px 20px;
        background-color: white;
        border: none;
        border-radius: 2px;
        font-size: 18px;
        width: 100px;
    }

    .selectDate{
        margin-left: -5px !important;
    }

    .selectTime{
        position: relative;
        float: right;
        margin-top: -46px;
        left: 57px;
    }

    input[type="submit"]{
        margin-left: 0px;
    }

    #popularLocations{
        width: 100%;
        height: 800px;
        background: white;
    }

    #imgClickAndChange{
        width: 200px;
        height: 180px;
        margin-left: 10%;
        margin-top: 50px;
    }

    #rightArrow{
        width: 30px;
        height: 30px;
        float: right;
        margin-top: -113px;
    }

    .rowElement{
        margin-top: 20px;
    }
}
