body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: Century, AppleGothic;
}

.mainContent{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    height: 700px;
}

.header{
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 85px;
    width: 100%;
    background-color: white;
}

input{
    padding-left: 10px;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    margin-left: 35%;
    width: 32%;
    min-width: 150px;
    height: 53px;
    font-size: 20px;
    margin-top: 10px;
}

.treci{
    margin-top: 83px;
    width: 32%;
    min-width: 150px;
    background-color: #fd6f60;
    color: white;
}

.treci:hover{
    cursor: pointer;
}

#signup{
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 61%;
    font-size: 30px;
    color: #131D24;
    display: inline-block;
}

.orange1{
    color: #fd6f60;
    display: inline-block;
    text-decoration: none;
    margin-left: 9%;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.selectCountry{
    display: inline-block;
    width: 32.5%;
    height: 53px;
    margin-left: 504px;
    margin-top: 10px;
}

.selectCity{
    display: inline-block;
    width: 32.5%;
    height: 53px;
    margin-right: 500px;
    margin-top: 10px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;

    display: block;
    padding: 10px 50px 10px 10px;
    background: url(../images/arrow_down.png) no-repeat 95% center;
    background-size: 20px 20px;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    font-size: 16px;
}

.divSelect{
    width: 33%;
    height: 53px;
    margin-top: 10px;
    margin-left: 35%;
    padding: 0px;
    background-color: whitesmoke;
}

.errorMessage{
    color: red;
    margin-left: 35%;
}

@media(max-width: 347px){
    .selectCity{
        width: 86.5%;
        height: 53px;
        margin-top: 10px;
        margin-left: 22px
    }

    .selectCountry{
        width: 86.5%;
        height: 53px;
        margin-top: 10px;
        margin-left: 22px;
    }

    #signup{
        margin-left: 20%;
    }

    .orange1{
        margin-left: 80%;
    }

    input{
        margin-left: 22px;
        width: 300px;
    }

    .treci{
        width: 50%;
    }

    .mainContent{
        margin: 0px;
        padding: 0px;
        background-color: whitesmoke;
        height: 840px;
        width: 347px;
    }

    .errorMessage{
        color: red;
        margin-left: 7%;
    }
}

