<head>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/footer.css")'>
</head>

<footer>
    <div class="container">
        <div class="firstPart">
            <span>Privacy policy</span>
            <span>Terms of use</span>
            <span>Sitemap</span>
            <span>Mobile site</span>
        </div>
        <div class="secondPart">
            <span>About us</span>
            <span>Blog</span>
            <span>Careers</span>
            <span>Press</span>
            <span>Advertise</span>
        </div>
        <div id="copyright"><span>Copyright © 2016 All rights reserved.</span></div>
    </div>
</footer>
