@import helper.select
<!DOCTYPE html>
    <html lang="en">

    <head>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/home.css")'>
    </head>

    <body>
        <div class="gornji_dio">
            <form>
                <p class="prvi">Make a free reservation</p>
                <p class="drugi">Choose your table from hundreds of restaurants near you</p>
            </form>
        </div>
        <div class="searchbox">
            <form>
                <input type="text" placeholder="Location, Restaurant or Cousine">
                <input type="submit" value="Find a table">
            </form>
        </div>

        srch

        pop

        3

        4
    </body>

    <ul class="menu">
        <li><a>Menu</a>
            <ul>
                <li><a href="@routes.HomeController.hello()">Home</a></li>
                <li><a href="@routes.HomeController.index()">Log out</a></li>
                <li><a href="@routes.HomeController.signup()">Sign up</a></li>
            </ul>
        </li>
    </ul>

    </html>
