<head>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
@home()
<script>
        $(document).ready(function(){
            var token = window.localStorage.getItem("token");
            //probably should do that for username either
            if(token != null){
                $(".orange").text("Log out");
            }
        });
</script>
<script>
    $(".orange").click(function(event){
        var token = window.localStorage.getItem("token");
        //probably should do that for username either
        if(token != null){
            window.localStorage.clear();
            $(".orange").text("Log in");
        }
        else{
            $(".orange").attr("href", "http://localhost:9000/login");
        }
    });
</script>