<head>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/locations.css")'>
</head>
<div class="container pt-5 pl-5">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Sarajevo</p>
            <p id="belowPar">26 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Mostar</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Zagreb</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Rijeka</p>
            <p id="belowPar">0 restaurants</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">London</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Manchester</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Rome</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Milan</p>
            <p id="belowPar">0 restaurants</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Venice</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Belgrade</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Budva</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Ulcinj</p>
            <p id="belowPar">0 restaurants</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Split</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Dubrovnik</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Barcelona</p>
            <p id="belowPar">0 restaurants</p>
      </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Madrid</p>
            <p id="belowPar">0 restaurants</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Munich</p>
            <p id="belowPar">0 restaurants</p>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Wien</p>
            <p id="belowPar">0 restaurants</p>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Zurich</p>
            <p id="belowPar">0 restaurants</p>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <p id="abovePar">Istanbul</p>
            <p id="belowPar">0 restaurants</p>
        </div>
    </div>
</div>
