<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/login.css")'>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script>
             function login () {
                 var username = $('#username').val();
                 var password = $('#password').val();
                 $.get("/auth/login", {username: username, password: password});
             }
        </script>
    </head>
    <body>
        <div class="header">
            <ul class="menu">
                <li><a>Menu</a>
                    <ul>
                        <li><a href="@routes.HomeController.hello()">Home</a></li>
                        <li><a>Restaurants</a></li>
                        <li><a class="orange">Log in</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <p>Login</p>
        <a class="orange1" href="@routes.HomeController.signup()">Create Account</a>
        <input id="username" type="text" placeholder="Email" class="prvi">
        <input id="password" type="text" placeholder="Password" class="drugi">
        <input id="submitLogin" type="submit" value="Login" class="treci" onclick="login()">
        <footer></footer>
    </body>
</html>
