<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/login.css")'>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script>
             function login () {
                 var username = $('#username').val();
                 var password = $('#password').val();
                 $.ajax({
                     url: '/auth/login',
                     type: 'get',
                     data: jQuery.param({username: username, password: password}),
                     complete:function(response){
                         if(response.status == 200) {
                             window.localStorage.setItem("username", response["responseJSON"]["user"]);
                             window.localStorage.setItem("token", response["responseJSON"]["token"]);
                             $( ".successful" ).show();
                             setTimeout(function() {
                                     $( ".successful" ).hide();
                                 }, 2000);
                             $(this).delay(2500).queue(function() {

                                 $.ajax({
                                     url: 'https://abh-restaurants-backend.herokuapp.com/users/get/role',
                                     //url: 'https://localhost:8080/users/get/role',
                                     //url: 'http://localhost:8080/users/get/role',
                                     type: 'get',
                                     data: jQuery.param({email: username}),
                                     complete:function(response1){
                                         if(response1.status == 200) window.location.replace("/admin/home");
                                         //console.log(document.referrer);
                                         else if(document.referrer.includes("/confirmation")) window.location.replace("/confirmation");
                                         else window.location.replace("/home");
                                     }
                                 });

                                 $(this).dequeue();

                             });
                         }
                         else {
                             $( ".taken" ).show();
                             setTimeout(function() {
                                 $( ".taken" ).hide();
                             }, 2000);
                         }
                     }
                 });
             }
        </script>

        <script src="@routes.Assets.at("javascripts/validationLogin.js")"></script>

        <script>
                document.addEventListener('keydown', function (e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        validation();
                    }
                });
                /*$('.mainContent').on('keydown', function(e) {
                    if (e.which == 13) {
                        e.preventDefault();
                        validation();
                    }
                });*/
        </script>
    </head>
    <body>
        <div class="header">
            @header()
        </div>
        <div class="mainContent">
            <div class="row">
                <div class='col-md-6'>
                    <p id="login">Login</p>
                </div>
                <div class='col-md-6'>
                    <a class="orange1" href="@routes.HomeController.signup()">Create Account</a>
                </div>
            </div>
            <p id="popUp" class="successful" style="display: none;"> Successfully logged in! </p>
            <p id="popUp" class="taken" style="display: none;"> Account doesn't exist! </p>
            <div class="row">
                <div class='col-md-12'>
                    <input id="username" type="text" placeholder="Email" class="prvi">
                </div>
            </div>
            <div class="row">
                <div class='col-lg-12'>
                    <input id="password" type="password" placeholder="Password" class="drugi">
                </div>
            </div>
            <div id="errorMessage"></div>
            <div class="row">
                <div class='col-lg-12'>
                    <input id="submitLogin" type="submit" value="Login" class="treci" onclick="validation()">
                </div>
            </div>
        </div>
        @footer()
    </body>
</html>
