<head>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/menu.css")'>
    <script src="@routes.Assets.at("javascripts/menuChange.js")"></script>
</head>

<button class="breakfastButton buttons" onclick="breakfastClicked()">Breakfast</button>
<button class="lunchButton buttons" onclick="lunchClicked()">Lunch</button>
<button class="dinnerButton buttons" onclick="dinnerClicked()">Dinner</button>

<div class="menuContainerMenu">
    <div class="breakfast">
        <div id="breakfastMenu">
            <dl>
                <dt>The Cotford Full House</dt>
                <dd>$8.95</dd>
                <dt>Egg, bacon, sausage and tomato</dt>
                <dd>$8.95</dd>
                <dt>Poached or scrambled eggs on toast</dt>
                <dd>$8.95</dd>
                <dt>Boiled eggs</dt>
                <dd>$8.95</dd>
                <dt>Omelette</dt>
                <dd>$8.95</dd>
                <dt>Grilled kippers</dt>
                <dd>$8.95</dd>
                <dt>Toasted brown or white bread</dt>
                <dd>$8.95</dd>
                <dt>Freshly baked croissants</dt>
                <dd>$8.95</dd>
                <dt>Cereal</dt>
                <dd>$8.95</dd>
            </dl>
        </div>
    </div>
    <div class="lunch">
        <div id="lunchMenu">
            <dl>
                <dt>Steak</dt>
                <dd>$8.95</dd>
                <dt>Rizzoto</dt>
                <dd>$8.95</dd>
                <dt>Baked potatoes with roast meat</dt>
                <dd>$8.95</dd>
                <dt>Soup</dt>
                <dd>$8.95</dd>
                <dt>Meat pie</dt>
                <dd>$8.95</dd>
                <dt>Spaghetti Bolognese</dt>
                <dd>$8.95</dd>
                <dt>Pasta Verdura</dt>
                <dd>$8.95</dd>
                <dt>Pizza</dt>
                <dd>$8.95</dd>
                <dt>Fish and chips</dt>
                <dd>$8.95</dd>
            </dl>
        </div>
    </div>
    <div class="dinner">
        <div id="dinnerMenu">
            <dl>
                <dt>Chicken scampi Roja</dt>
                <dd>$8.95</dd>
                <dt>Chicken Marsala</dt>
                <dd>$8.95</dd>
                <dt>Chicken Picatta</dt>
                <dd>$8.95</dd>
                <dt>Tuna salad</dt>
                <dd>$8.95</dd>
                <dt>Chicken salad</dt>
                <dd>$8.95</dd>
                <dt>Traditional Shrimp Scampi</dt>
                <dd>$8.95</dd>
                <dt>Baked stuffed seafood selection</dt>
                <dd>$8.95</dd>
                <dt>Filet mignot</dt>
                <dd>$8.95</dd>
                <dt>Bacon Bourbon Tenderloin tips</dt>
                <dd>$8.95</dd>
            </dl>
        </div>
    </div>
</div>