<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/signup.css")'>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script>
             function register () {
                 var name = $('#name').val();
                 var last_name = $('#last_name').val();
                 var email = $('#email').val();
                 var phone_num = $('#phone_num').val();
                 var country = $('#country :selected').text();
                 var city = $('#city :selected').text();
                 var password = $('#password').val();
                 $.ajax({
                     url: '/auth/register',
                     type: 'get',
                     data: jQuery.param({name: name, last_name: last_name, email: email, phone_num: phone_num, country: country, city: city, password: password}),
                     success:function(response){
                         if(response == "Already exists"){
                             $( ".taken" ).show();
                             setTimeout(function() {
                                 $( ".taken" ).hide();
                             }, 2000);
                         }
                          else{
                             $( ".successful" ).show();
                             setTimeout(function() {
                                 $( ".successful" ).hide();
                             }, 2000);
                             $(this).delay(2500).queue(function() {

                                 window.location.replace("/login");

                                 $(this).dequeue();

                             });
                         }
                     }
                 });
             }
        </script>
        <script>
            $(document).ready(function(){

                $.ajax({
                    url: 'https://abh-restaurants-backend.herokuapp.com/countries/all',
                    type: 'get',
                    dataType: 'json',
                    success:function(response){

                        var len = response.length;
                        var select = "Select Country";

                        $("#country").empty();
                        $("#country").append("<option>"+select+"</option>");
                        for( var i = 0; i<len; i++){
                            var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#country").append("<option value='"+id+"'>"+name+"</option>");

                        }
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function(){

                $("#country").change(function(){
                    var countryid = $(this).val();
                    var countryName = $( "#country option:selected" ).text();
                    var json = {
                        'id': countryid,
                        'name': countryName
                    };

                    var select = "Select City";

                    $.ajax({
                        url: 'https://abh-restaurants-backend.herokuapp.com/cities/country',
                        type: 'post',
                        data: JSON.stringify(json),
                        contentType: 'application/json',
                        dataType: 'json',
                        success:function(response){

                            var len = response.length;

                            $("#city").empty();
                            $("#city").append("<option>"+select+"</option>");
                            for( var i = 0; i<len; i++){
                                var id = response[i]['id'];
                                var name = response[i]['name'];

                                $("#city").append("<option value='"+id+"'>"+name+"</option>");

                            }
                        }
                    });
                });

            });
        </script>
        <script src="@routes.Assets.at("javascripts/validation.js")"></script>
    </head>
    <body>
        <div class="header">
            @headerSignup()
        </div>
        <div class="mainContent">
            <div class="row">
                <div class='col-md-7' class="titleSignup">
                    <p id="signup">Create Account</p>
                </div>
                <div class='col-md-5' class="linkLogin">
                    <a class="orange1" href="@routes.HomeController.login()">Login</a>
                </div>
            </div>
            <p id="popUp" class="successful" style="display: none;"> Account successfully created! </p>
            <p id="popUp" class="taken" style="display: none;"> User with that email exists!!! </p>
            <div class="row">
                <div class='col-md-12'>
                    <input id="name" type="text" placeholder="First Name" class="prvi" required>
                </div>
            </div>
            <div id="errorMessageName" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-12'>
                    <input id="last_name" type="text" placeholder="Last Name" class="drugi" required>
                </div>
            </div>
            <div id="errorMessageLName" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-12'>
                    <input id="email" type="text" placeholder="Email" required>
                </div>
            </div>
            <div id="errorMessageEmail" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-12'>
                    <input id="phone_num" type="text" placeholder="Phone Number" required>
                </div>
            </div>
            <div id="errorMessagePhoneNum" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-6'>
                    <select id="country" class="selectCountry" required>
                        <option>Select Country</option>
                    </select>
                </div>
                <div class='col-md-6'>
                    <select id="city" class="selectCity" required>
                        <option>Select City</option>
                    </select>
                </div>
            </div>
            <div id="errorMessageSelect" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-12'>
                    <input id="password" type="password" placeholder="Password" required>
                </div>
            </div>
            <div id="errorMessagePass" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-12'>
                    <input id="confirm" type="password" placeholder="Confirm Password" required>
                </div>
            </div>
            <div id="errorMessageConfirm" class="errorMessage"></div>
            <div class="row">
                <div class='col-md-12'>
                    <input id="submitRegister" type="submit" value="Create Account" class="treci" onclick="validation()">
                </div>
            </div>
            <div id="errorMessage"></div>
        </div>
        @footer()
    </body>

</html>