@(restaurantName: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/single_page.css")'>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
                .fa{
                    color: gray;
                    font-size: 25px;
                    margin-top: -20px;
                }
                .checked {
                    color: orangered;
                }
                .checked1 {
                    color: white;
                }
                .pricing {
                    display: inline;
                    margin-left: 50px;
                }
                #picture {
                    margin-left: 10px;
                    margin-top: 10px;
                }
        </style>
        <script>
                $(document).ready(function(){

                    var name = $("#restaurantName").text();
                    $.ajax({
                        url: 'https://abh-restaurants-backend.herokuapp.com/restaurants/name',
                        type: 'get',
                        data: jQuery.param({name: name}),
                        success:function(response){
                            $("#descriptionText").text(response["description"]);
                            var starString = "";
                            var starRatingChecked = '<span class="fa fa-star checked"></span>';
                            var starRating = '<span class="fa fa-star"></span>';
                            var stars = response['stars'];
                            for(var j=0; j<5; j++){
                                if(stars!=0) {
                                    starString+=starRatingChecked;
                                    stars--;
                                }
                                else starString+=starRating;
                            }
                            var priceString = '<div class="pricing">';
                            var priceRatingChecked = '<span class="fa fa-dollar checked1"></span>';
                            var priceRating = '<span class="fa fa-dollar"></span>';
                            var price = response['pricing'];
                            for(var j=0; j<4; j++){
                                if(price!=0) {
                                    priceString+=priceRatingChecked;
                                    price--;
                                }
                                else priceString+=priceRating;
                            }
                            priceString += '</div>';
                            $(".starsAndPrice").append(starString+priceString+"<button");

                            var pictureUrl = response["pictureUrl"];
                            $(".restaurantPicture").append("<img id=\"picture\" src="+pictureUrl+" height=\"172px\" width=\"200px\">");

                            var address = response["address"];
                            var splitAddress = address.split(" ");
                            address = "";
                            for(var i=0; i<splitAddress.length; i++){
                                if(i!=0) address+="+";
                                address+=splitAddress[i];
                            }
                            var newMapSrc = "https://maps.google.com/maps?q=" + address + "&t=&z=13&ie=UTF8&iwloc=&output=embed";
                            $("#gmap_canvas").attr("src", newMapSrc);
                        }
                    });
                });
        </script>

        <script>
                $(document).ready(function(){
                    var name = $("#restaurantName").text();
                    checkReview();
                    checkReservation(name);
                });
        </script>
        <script src="@routes.Assets.at("javascripts/checkReview.js")"></script>
        <script src="@routes.Assets.at("javascripts/makeReservation.js")"></script>
        <script src="@routes.Assets.at("javascripts/checkReservation.js")"></script>
        <script src="@routes.Assets.at("javascripts/openPopup.js")"></script>
        <script src="@routes.Assets.at("javascripts/review.js")"></script>
        <script src="@routes.Assets.at("javascripts/findTable.js")"></script>

        <script>
            function rateRequest(){
                var token = window.localStorage.getItem("token");
                if(token != null){
                    if($("#ratedYet").text()=="You haven't rated this place yet.") openPopup();
                    else {
                        $("#popUp").text("");
                        $("#popUp").css("color", "red");
                        $("#popUp").text("You already rated this restaurant!");
                        $( ".taken" ).show();
                        setTimeout(function() {
                            $( ".taken" ).hide();
                        }, 2000);
                    }
                }
                else{
                    $("#popUp").text("Please log in to proceed!");
                    $( ".taken" ).show();
                    setTimeout(function() {
                        $( ".taken" ).hide();
                    }, 2000);
                }
            }

            function reserveThisTable(){
                var token = window.localStorage.getItem("token");
                if(token != null){
                    if($("#reservedYet").text()=="You haven't reserved any tables yet.") saveReservation();
                    /*else{
                        //todo: check if desired table is already reserved by this user
                        $("#popUp").text("");
                        $("#popUp").css("color", "red");
                        $("#popUp").text("You already made a reservation at this restaurant!");
                        $( ".taken" ).show();
                        setTimeout(function() {
                            $( ".taken" ).hide();
                        }, 2000);
                    }*/
                }
                else{
                    $("#popUp").text("Please log in to proceed!");
                    $( ".taken" ).show();
                    setTimeout(function() {
                        $( ".taken" ).hide();
                    }, 2000);
                }
            }

            function reserveThisTableTime(){
                var token = window.localStorage.getItem("token");
                var time = $("#reserveNowTime").val();
                if(token != null){
                    if($("#reservedYet").text()=="You haven't reserved any tables yet.") saveReservationTime(time);
                }
                else{
                    $("#popUp").text("Please log in to proceed!");
                    $( ".taken" ).show();
                    setTimeout(function() {
                        $( ".taken" ).hide();
                    }, 2000);
                }
            }

            function saveReservation() {
                var token = window.localStorage.getItem("token");
                var date = $("#datepicker").val();
                var time = $("#timepicker").val();
                var username = window.localStorage.getItem("username");
                var restaurant = $("#restaurantName").text();
                var type = $(".selectRes option:selected").text();
                /*https://abh-restaurants-backend.herokuapp.com*/

                $.ajax({
                    url: 'https://abh-restaurants-backend.herokuapp.com/reservations',
                    type: 'get',
                    dataType: 'json',
                    data: jQuery.param({
                        date: date,
                        time: time,
                        username: username,
                        restaurant: restaurant,
                        type: type
                    }),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", token);
                    },
                    success: function (response) {
                    },
                    complete: function (response) {
                        $("#reservationQuery").text("");
                        $("#tablesLeft").text("");
                        $("#bestTime").text("");
                        $(".removable").remove();
                        $("#reserveNow").remove();
                        $("#popUp").text("");
                        $("#popUp").css("color", "lawngreen");
                        $("#popUp").text("Reservation successfully completed!");
                        $( ".taken" ).show();
                        setTimeout(function() {
                            $( ".taken" ).hide();
                        }, 2000);
                    }
                });
            }

            function saveReservationTime(time) {
                var token = window.localStorage.getItem("token");
                var date = $("#datepicker").val();
                var timeFrom = $("#timepicker").val();
                var username = window.localStorage.getItem("username");
                var restaurant = $("#restaurantName").text();
                var type = $(".selectRes option:selected").text();

                $.ajax({
                    url: 'https://abh-restaurants-backend.herokuapp.com/reservations/save/time',
                    type: 'get',
                    dataType: 'json',
                    data: jQuery.param({
                        date: date,
                        time: time,
                        timeFrom: timeFrom,
                        username: username,
                        restaurant: restaurant,
                        type: type
                    }),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", token);
                    },
                    success: function (response) {
                    },
                    complete: function (response) {
                        $("#reservationQuery").text("");
                        $("#tablesLeft").text("");
                        $("#bestTime").text("");
                        $(".removable").remove();
                        $("#reserveNow").remove();
                        $("#popUp").text("");
                        $("#popUp").css("color", "lawngreen");
                        $("#popUp").text("Reservation successfully completed!");
                        $( ".taken" ).show();
                        setTimeout(function() {
                            $( ".taken" ).hide();
                        }, 2000);
                    }
                });
            }
        </script>
    </head>
    <body>
        <header id="before"></header>
        <header id="after">
            @homeHeader()
            <div class="restaurantTitle">
                <div class="restaurantPicture"></div>
                <p id="restaurantName">@restaurantName</p>
                <div class="starsAndPrice"></div>
                <button id="ratePlace" onclick="rateRequest()">Rate this place</button>
            </div>
        </header>
        <div id="main">
            <p id="popUp" class="taken" style="display: none;"> Please log in to proceed! </p>

            <div id="reservation">
                <a id="reserve"></a>
                <p id="paragraphs">Make a free reservation</p>
                <div class="reservationProcess">
                    <!--select id="country" class="selectRes" required>
                        <option>People</option>
                    </select-->
                    <input type="number" id="country" class="selectRes" placeholder="People"/>
                    @datePicker()
                    @timePicker()
                    <input type="button" id="find" value="Find a table" onclick="findATable()">
                    <p id="reservationQuery"></p>
                    <p id="tablesLeft"></p>
                    <p id="bestTime"></p>
                    <p id="ratedYet"></p>
                    <p id="reservedYet"></p>
                </div>
            </div>
            <div id="pageMenuField">
                <ul id="pageMenu">
                    <li><a href="#reserve">Reservation</a></li>
                    <li><a href="#about_res">About</a></li>
                    <li><a href="#menu_meals">Menu</a></li>
                    <li><a href="#restaurant_photos">Photos</a></li>
                </ul>
            </div>
            <div id="about">
                <a id="about_res"></a>
                <p id="paragraphs">About @restaurantName</p>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="700" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=grbavička+32&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <style>.mapouter{text-align:right;height:250px;width:700px;}.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:700px;}</style>
                </div>
                <div id="description">
                    <p id="paragraphs">Description:</p>
                    <div class="descriptionField">
                        <p id="descriptionText"></p>
                    </div>
                </div>
            </div>
            <div id="menu">
                <a id="menu_meals"></a>
                <p id="paragraphs">Menu:</p>
                @menu()
            </div>

            <div id="photos">
                <a id="restaurant_photos"></a>
                <p id="paragraphs">Restaurant photo</p>
            </div>
        </div>
        <div class="popupOuter" style="display: none;">
            <div class="popupWindow">
                <button class="close">X</button>
                <p id="popupTitle">Rate this place</p>
                <div class="popupStars">
                    <span class="fa fa-star star1 star"></span>
                    <span class="fa fa-star star2 star"></span>
                    <span class="fa fa-star star3 star"></span>
                    <span class="fa fa-star star4 star"></span>
                    <span class="fa fa-star star5 star"></span>
                </div>
                <div class="popupReview">
                    <input type="text" placeholder="Write a review" id="reviewText">
                </div>
                <button class="saveReview" onclick="saveReview()">Save</button>
            </div>
        </div>
        @footer()
    </body>
</html>